01_Doc_Data_PDF.json
{
  "name": "01.Doc-Data-PDF",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Zalo User Trigger').item.json.data.content }}",
        "options": {
          "systemMessage": "You are a helpful assistant\ntrước tiên bạn phải truy cập vào vevtor store tool để tìm câu trả lời từ người dùng\nnếu không có câu trả lời thì trả về \"xin lỗi mình không thể trả lời câu hỏi của bạn\"\ntools:\nvevtor store tool: use this tool to find answer "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        480,
        0
      ],
      "id": "8fbbd6fd-d3a1-4352-b043-b95293c6f06b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "b65f29f4-73a5-43fd-a191-88a53494bd98",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GalKRUKkED3gQn2t",
          "name": "OpenAi account 9"
        }
      }
    },
    {
      "parameters": {
        "name": "database",
        "description": "retrieves data about projects"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        680,
        240
      ],
      "id": "30b23137-685a-4dc3-8c68-2565a4632988",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        500,
        440
      ],
      "id": "3e18a5b6-46f0-46c3-abcc-bb8116bd641d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UWqS9L5UtWhKGV4E",
          "name": "Supabase account 13"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        420
      ],
      "id": "1cc3d47e-e59e-42c0-a9f0-7be7c5aebf20",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GalKRUKkED3gQn2t",
          "name": "OpenAi account 9"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        620
      ],
      "id": "9130a64b-6035-41f7-9208-bba40246c525",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GalKRUKkED3gQn2t",
          "name": "OpenAi account 9"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "acedd90e-ff71-4432-a8d7-8e8a253378b5",
              "leftValue": "={{ $json.data.dName }}",
              "rightValue": "={{ $json.data.dName }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "ee840335-80a5-461e-bc18-2f7651d7e842",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('If').item.json.data.content }}",
        "contextWindowLength": 255
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        460,
        300
      ],
      "id": "ed327fdf-4291-4e83-87a7-4fde374cfc54",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "T6n4QNnScF7E325U",
          "name": "Postgres account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalo-user-v2.zaloUser",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ],
      "id": "1db448db-0bec-45b2-9273-2d5cb4340838",
      "name": "Zalo User Trigger",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "FRPLEqOJGUMpVUx6",
          "name": "Zalo David +84359216863 - 2025-07-14T02:22:53.502Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "={{ $('Zalo User Trigger').item.json.data.uidFrom }}",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-zalo-user-v2.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        900,
        0
      ],
      "id": "26bf5568-219a-45c2-a8b4-7f164f7ba952",
      "name": "Zalo User Interact",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "FRPLEqOJGUMpVUx6",
          "name": "Zalo David +84359216863 - 2025-07-14T02:22:53.502Z"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Zalo User Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Zalo User Interact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14a41692-0ac3-4de9-a0a7-94525211fcaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94a383c02457267bcc44878635a0fa02b7d3206c5479bfc8890faa812e2bbd97"
  },
  "id": "36pxRo7LPaiYdY3S",
  "tags": []
}